@model Computer

@{
    Layout = null;
}
<h3>Szczególy Komputera</h3>

<h1>Nazwa</h1>
@Model.Name
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManufacturerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManufacturerName)
        </dd>
<h1>Procesor</h1>
@Model.Cpu
<h1>Ram</h1>
@Model.Ram
<h1>Karta Graficzna</h1>
@Model.Gpu
<h1>Data Produkcji</h1>
@Model.ProductionDate