@model Computer

@{
    Layout = null;
}
<h3>Szczególy Komputera</h3>

<h1>Nazwa</h1>
@Model.Name
<h1>Producent</h1>
@Model.Producer
<h1>Procesor</h1>
@Model.Cpu
<h1>Ram</h1>
@Model.Ram
<h1>Karta Graficzna</h1>
@Model.Gpu
<h1>Data Produkcji</h1>
@Model.ProductionDate